/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #313338;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #757273;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray;
}

/* Main styles */
.home-sec {
color: #fff;
background-color: #000 !important ;
text-align: center;
/* img size is 50x50 */
background: url("main-bg.png") repeat 0 0;
-webkit-animation: bg-scrolling-reverse 0.92s infinite;
/* Safari 4+ */
-moz-animation: bg-scrolling-reverse 0.92s infinite;
/* Fx 5+ */
-o-animation: bg-scrolling-reverse 0.92s infinite;
/* Opera 12+ */
animation: bg-scrolling-reverse 0.92s infinite;
/* IE 10+ */
-webkit-animation-timing-function: linear;
-moz-animation-timing-function: linear;
-o-animation-timing-function: linear;
animation-timing-function: linear;
overflow-x: hidden;
}
*{
overflow-x: hidden;
}

body{
  background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
  overflow-y: hidden;
}

.nav_bar{
 background-color: #00000050; 
 color: white;
}

.overflow_hide{
  overflow: hidden;
}
.border-gradient {
border: 3px solid #f36d20 ;
padding: 7px;
border-radius: 50px;
}
.bg-gradient{
  background: linear-gradient(90deg, rgba(254,248,2,1) 0%, rgba(243,109,32,1) 100%);
  padding: 7px;
  border-radius: 50px;
  color: black;
}
.nav-radius{
    border-radius: 60px;
}