/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #313338;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #757273;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray;
}



*{
overflow-x: hidden;
}

body{
  
  overflow-y: hidden;
}

.nav_bar{
 z-index: 999;
 background-color: #00000050; 
 color: white;
}

.overflow_hide{
  overflow: hidden;
}

.bg-gradient{
  background: linear-gradient(90deg, rgba(254,248,2,1) 0%, rgba(243,109,32,1) 100%);
  padding: 7px;
  border-radius: 50px;
  color: black;
}
.nav-radius{
    border-radius: 60px;
}
.menu_button{
    z-index: 999;
}

.ig:hover{
    fill: #bc2a8d;
}

.ld:hover{
  fill: #0077b7;
}

.fb:hover{
  fill: #1f7bf2;
}

/**home**/
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #000;
    height: 100vh !important;
  }
  .wrapper{
    display: flex;
  }
  .wrapper .static-txt{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
  }
  .wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }
  .dynamic-txts li{
    list-style: none;
    color: #FC6D6D;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
    100%{
      top: -360px;
    }
  }
  .dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000;
    border-left: 2px solid #FC6D6D;
    animation: typing 3s steps(10) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }